body {
	width: 100%;
	height: 100vh;
	min-height: 340px;
	margin: 0;
	text-align: center;
	color: #242424;
	font-family: "Ubuntu", arial, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

::-webkit-scrollbar {
	width: 0;
	height: 0
}

.container {
	width: 100%;
	height: 100%
}

.container > div {
	width: 100vw;
	min-width: 600px;
	float: left;
	outline-offset: -5px
}

.overview {
	height: 100px;
	background: #597043;
	outline: 1px dashed #a6bc8f
}

.money {
	width: 100px;
	float: left;
	margin: 22px 0px 18px 20px;
	outline: 1px solid #239023;
	outline-offset: -5px;
	background: -webkit-linear-gradient(#5bd75b 0%, #32cd32 30%, #32cd32 70%, #5bd75b 100%);
	background: linear-gradient(#5bd75b 0%, #32cd32 30%, #32cd32 70%, #5bd75b 100%);
	box-shadow: 0 2px 0 #239023
}

.money > div {
	width: 100px;
	line-height: 30px
}

#money {
	font-weight: bold
}

.sec {
	font-size: 14px
}

.collect {
	width: 60px;
	float: left;
	margin: 20px;
	background: -webkit-linear-gradient(#ffad33 0%, #ff9900 30%, #ff9900 70%, #ffad33 100%);
	background: linear-gradient(#ffad33 0%, #ff9900 30%, #ff9900 70%, #ffad33 100%);
	box-shadow: 0 4px 0 #b36b00;
	outline: 1px solid #b36b00;
	outline-offset: -5px;
	line-height: 60px;
	cursor: pointer;
	cursor: hand
}

.collect:active {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #b36b00
}

.options {
	width: 100px;
	margin: 20px 20px 0 0;
	float: right;
	background: -webkit-linear-gradient(#64d22d 0%, #83db57 30%, #83db57 70%, #64d22d 100%);
	background: linear-gradient(#64d22d 0%, #83db57 30%, #83db57 70%, #64d22d 100%);
	box-shadow: 0 4px 0 #46931f;
	outline: 1px solid #46931f;
	outline-offset: -5px;
	line-height: 40px;
	cursor: pointer;
	cursor: hand
}

.optionspanel > div {
	margin: 20px 5px 0 0;
	padding:0 10px;
	float: right;
	background: -webkit-linear-gradient(#64d22d 0%, #83db57 30%, #83db57 70%, #64d22d 100%);
	background: linear-gradient(#64d22d 0%, #83db57 30%, #83db57 70%, #64d22d 100%);
	box-shadow: 0 4px 0 #46931f;
	outline: 1px solid #46931f;
	outline-offset: -5px;
	line-height: 40px;
	cursor: pointer;
	cursor: hand
}

.options:active,
.optionspanel > div:active {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #46931f
}

.buildingsactive {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #46931f !important
}

.upgrades {
	height: 80px;
	background: #594370;
	outline: 1px dashed #a58fbc
}

.upgrade {
	width: 140px;
	margin: 20px 0 20px 20px;
	float: left;
	background: -webkit-linear-gradient(#ad33ff 0%, #9900ff 30%, #9900ff 70%, #ad33ff 100%);
	background: linear-gradient(#ad33ff 0%, #9900ff 30%, #9900ff 70%, #ad33ff 100%);
	box-shadow: 0 4px 0 #6b00b3;
	outline: 1px solid #6b00b3;
	outline-offset: -5px;
	line-height: 40px;
	cursor: pointer;
	cursor: hand
}

.upgrade:active {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #6b00b3
}

.upactive {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #6b00b3 !important
}

.miners {
	height: calc(100% - 210px);
	min-height: 130px;
	background: #435970;
	outline: 1px dashed #8fa6bc
}

.hidemine {
	height: calc(100% - 40px);
	margin: 20px;
	overflow-y: scroll
}

.hidemine::-webkit-scrollbar {
	width: 1px
}

.hidemine::-webkit-scrollbar-thumb {
	background: #8fa6bc
}

.miner {
	width: 360px;
	height: 90px;
	margin: 0 0 20px 0;
	background: -webkit-linear-gradient(#3396ff 0%, #007bff 30%, #007bff 70%, #3396ff 100%);
	background: linear-gradient(#3396ff 0%, #007bff 30%, #007bff 70%, #3396ff 100%);
	box-shadow: 0 4px 0 #0056b3;
	outline: 1px solid #0056b3;
	outline-offset: -5px;
	cursor: pointer;
	cursor: hand
}

.miner:nth-last-child(1) {
	margin: 0 0 2px 0 !important
}

.unavailable {
	background: -webkit-linear-gradient(#007bff 0%, #006fe6 30%, #006fe6 70%, #007bff 100%) !important;
	background: linear-gradient(#007bff 0%, #006fe6 30%, #006fe6 70%, #007bff 100%) !important;
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #0063cc !important;
	outline: 1px solid #0063cc !important;
}

.hidemine > div:active {
	-webkit-transform: translate(0px, 2px);
	transform: translate(0px, 2px);
	box-shadow: 0 2px 0 #0063cc
}

.miner > div {
	float: left
}

.pic {
	position: relative;
	top: 10px;
	left: 10px;
	width: 70px;
	height: 70px;
	line-height: 70px
}

.name {
	position: relative;
	top: 20px;
	left: 20px;
	width: 180px
}

.quantity {
	position: relative;
	top: 10px;
	left: 30px;
	width: 70px;
	height: 70px;
	line-height: 70px
}

.cost {
	position: relative;
	bottom: 20px;
	left: 90px;
	width: 180px
}

.footer {
	height: 30px;
	background: #705943;
	outline: 1px dashed #bca58f;
	font-size: 13px;
	line-height: 30px
}

.footer a {
	text-decoration: none
}

.footer a:link,
.footer a:visited {
	color: #ffad33
}

.footer a:hover {
	color: #ff9900
}

.footer a:active - a {
	color: #b36b00
}